@import url('https://fonts.google.com/specimen/Nunito?query=nu');

body{
    background-image: url('bc.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background-color: #56301B;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Ubah nilai ini untuk tingkat transparansi */
    z-index: -1; /* Menempatkan overlay di belakang konten utama */
}
.img{
    position: absolute;
    top: 110px;
    left: 100px;
}
.h1{
    position: absolute;
    top: 180px;
    right:400px;
    color: beige;
    font-family: 'Nunito', sans-serif;
}
.icon1{
    position: absolute;
    right: 550px;
    top: 300px;
}
.icon2{
    position: absolute;
    right: 550px;
    top: 360px;  
}
.icon3{
    position: absolute;
    right: 550px;
    top: 410px;
}
.icon4{
    position: absolute;
    right: 550px;
    top: 460px;
}
.tx1{
    position: absolute;
    right: 420px;
    top: 300px;
    color: beige;
}
.tx2{
    position: absolute;
    right: 424px;
    top: 360px;  
    color: beige;
}
.tx3{
    position: absolute;
    right: 425px;
    top: 410px;
    color: beige;
}
.tx4{
    position: absolute;
    right: 350px;
    top: 460px;
    color: beige;
}
.button{
    position: absolute;
    right: 500px;
    top: 550px;
}